<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.jetsetgo.dbio.MyPageMapper">

    <!-- 사용자 로그인 ID로 검색 -->
    <select id="findUserInfoByUserName" resultType="kr.co.jetsetgo.model.TbMembersDto">
        SELECT * FROM MEMBERS WHERE USERNAME = #{userName}
    </select>

    <!-- 사용자 정보  수정 -->
    <update id="editUserInfo">
        UPDATE MEMBERS SET PHONENUMBER = #{contact} WHERE USERNAME = #{id}
    </update>

    <!-- 사용자 비밀번호 수정 -->
    <update id="editUserPassword">
        UPDATE MEMBERS SET PASSWORD = #{password} WHERE USERNAME = #{id}
    </update>

    <!-- 사용자  삭제 -->
    <delete id="removeUser">
        DELETE FROM MEMBERS WHERE USERNAME = #{id}
    </delete>

    <!-- 예약 검색 -->
    <select id="findReservationByUserId" resultType="kr.co.jetsetgo.model.ReservationDto">
        SELECT
            r.MEMBER_ID,
            r.RESERVATION_ID,
            r.RESERVATION_DATE,
            r.num,
            r.STATUS,
            f.ID,
            f.ORIGINLOCATIONCODE,
            f.DESTINATIONLOCATIONCODE,
            f.DEPARTURE_CITY,
            f.ARRIVAL_CITY,
            f.DEPARTURE_TIME,
            f.ARRIVAL_TIME
        FROM
            RESERVATION r
                JOIN
            FLIGHTS f ON r.FLIGHT_ID = f.ID
        WHERE
            r.MEMBER_ID = #{userId}
          AND
                f.DEPARTURE_TIME = (
                SELECT MIN(f2.DEPARTURE_TIME)
                FROM FLIGHTS f2
                         JOIN RESERVATION r2 ON f2.ID = r2.FLIGHT_ID
                WHERE r2.RESERVATION_ID = r.RESERVATION_ID
            )
        ORDER BY
            r.RESERVATION_DATE DESC;
    </select>


    <!-- 예약 상세 검색 -->
    <select id="findReservationByReservationId" resultType="kr.co.jetsetgo.model.ReservationDetailDto">
        SELECT
            R.RESERVATION_ID,
            R.MEMBER_ID,
            M.NAME,
            M.PHONENUMBER,
            R.STATUS,
            R.TRIP_TYPE,
            R.RESERVATION_DATE,
            F.FLIGHT_NUM,
            F.DEPARTURE_TIME,
            F.ARRIVAL_TIME,
            F.ORIGINLOCATIONCODE,
            F.DESTINATIONLOCATIONCODE,
            F.DEPARTURE_AIRPORT,
            F.ARRIVAL_AIRPORT,
            F.DEPARTURE_CITY,
            F.ARRIVAL_CITY,
            F.IATACODE,
            TIMESTAMPDIFF(MINUTE, F.DEPARTURE_TIME, F.ARRIVAL_TIME) AS DURATIONINMINUTES
        FROM
            RESERVATION R
                JOIN
            MEMBERS M ON R.MEMBER_ID = M.MEMBERNUM
                JOIN
            FLIGHTS F ON R.FLIGHT_ID = F.ID
        WHERE
            R.RESERVATION_ID = #{id};
    </select>

</mapper>