<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.jetsetgo.dbio.ReservationMapper">


    <!-- 예약 데이터 삽입 -->
    <insert id="insertReservation" parameterType="kr.co.jetsetgo.model.TbReservation" useGeneratedKeys="true" keyProperty="num">
        INSERT INTO RESERVATION
        (MEMBER_ID, RESERVATION_ID, FLIGHT_ID, STATUS, TRIP_TYPE, RESERVATION_DATE,
         PASSENGER_NAME, PHONE_NUMBER, PASSPORT_NUMBER, PASSPORT_EXPIRYDATE,
         PASSPORT_ISSUINGCOUNTRY, PAYMENT_AMOUNT, PAYMENT_METHOD, NONSTOP,
         TRAVELCLASS, ADULTS, CHILDREN)
        VALUES
            (#{member_Id}, #{reservation_Id}, #{flight_Id}, #{status}, #{trip_Type}, #{reservation_Date},
             #{passenger_Name}, #{phone_Number}, #{passport_Number}, #{passport_Expirydate},
             #{passport_Issuingcountry}, #{payment_Amount}, #{payment_Method}, #{nonstop},
             #{travelclass}, #{adults}, #{children})
    </insert>

     <!-- 결제내역 저장 -->
    <update id="updateReservationFlghts">
        UPDATE  RESERVATION
        SET     STATUS = '예약확정'
        WHERE   RESERVATION_ID = #{reservation_Id}
        AND     FLIGHT_ID = #{flight_id}
    </update>

</mapper>