<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.jetsetgo.dbio.SupportMapper">

    <!-- 전체 문의 검색 -->
    <select id="findAll" resultType="kr.co.jetsetgo.model.TbSupport">
        SELECT * FROM SUPPORT ORDER BY SUPPORT_ID DESC
    </select>

    <!-- category로 문의 검색 -->
    <select id="findBycategory" resultType="kr.co.jetsetgo.model.TbSupport">
        SELECT * FROM SUPPORT WHERE CATEGORY = #{category} ORDER BY SUPPORT_ID DESC
    </select>

    <!-- 검색어로 문의 검색 -->
    <select id="findBySearchQuery" resultType="kr.co.jetsetgo.model.TbSupport">
        SELECT * FROM SUPPORT WHERE TITLE LIKE CONCAT('%', #{search}, '%') ORDER BY SUPPORT_ID DESC
    </select>

    <!-- SUPPORT_ID로 문의 검색 -->
    <select id="findById" resultType="kr.co.jetsetgo.model.TbSupport">
        SELECT * FROM SUPPORT WHERE SUPPORT_ID = #{id}
    </select>

    <!-- 문의하기  추가 -->
    <insert id="addSupport">
        INSERT INTO SUPPORT (WRITER_ID, WRITER_NAME, TITLE, DETAIL, CREATED_DATE, PUBLIC_STATUS, CATEGORY)
        VALUES (#{writer_Id}, #{writer_Name}, #{title}, #{detail}, NOW(), #{public_Status}, #{category});
    </insert>

    <!-- 문의하기  수정 -->
    <update id="editSupport">
        UPDATE SUPPORT
        SET TITLE = #{title}, DETAIL = #{detail}, PUBLIC_STATUS = #{public_Status}, CATEGORY = #{category}, ANSWER = #{answer}
        WHERE SUPPORT_ID = #{support_Id}
    </update>

    <!-- 문의하기  삭제 -->
    <delete id="removeSupport">
        DELETE FROM SUPPORT WHERE SUPPORT_ID = #{id}
    </delete>

    <!-- id로 작성자 비밀번호 검색-->
    <select id="findPasswordByWriterId" resultType="String">
        SELECT PASSWORD FROM MEMBERS WHERE MEMBERNUM = #{writerId}
    </select>


    <!-- 충돌 방지를 위해 임시로 여기에 작성 > 리뷰 이후에 수정할 예정 -->
    <!-- id로 사용자 아이디 검색 -->
<!--    <select id="findNameByWriterId">-->
<!--        SELECT USERNAME FROM MEMBERS WHERE MEMBERNUM = #{writerId}-->
<!--    </select>-->






    <!-- 예시 -->
<!--    <select id="reservationcount">-->
<!--        SELECT COALESCE(nvl(max(no),0) + 1, 0) FROM reservation-->
<!--    </select>-->

<!--    <insert id="reservationProc" parameterType="com.care.stay.reservation.ReservationDTO">-->
<!--        <selectKey order="BEFORE" keyProperty="no" resultType="int">-->
<!--            SELECT nvl(max(no),0) + 1 FROM reservation-->
<!--        </selectKey>-->

<!--        INSERT INTO reservation (no, stayno, stayname, roomname, code, roomcode, roomimage, checkindate, checkoutdate, checkintime, checkouttime, id, name, mobile, price, paymethod, status)-->
<!--        VALUES(#{no}, #{stayno}, #{stayname}, #{roomname}, #{code}, #{roomcode}, #{roomimage}, #{checkindate}, #{checkoutdate}, #{checkintime}, #{checkouttime}, #{id}, #{name}, #{mobile}, #{price}, #{paymethod}, '예약확정')-->
<!--    </insert>-->

<!--    <update id="listUp">-->
<!--        UPDATE reservation SET status='이용완료' WHERE (DATE_FORMAT(now(), '%Y-%m-%d') > checkindate OR (DATE_FORMAT(SYSDATE(), '%Y-%m-%d') = checkindate AND DATE_FORMAT(CURRENT_TIMESTAMP, '%H:%i') >= checkintime)) AND status='예약확정'-->
<!--    </update>-->

<!--    <select id="resConfirmed" resultMap="ReservationDto">-->
<!--        SELECT * FROM reservation-->
<!--        WHERE-->
<!--            id=#{id} AND status='예약확정' ORDER BY checkindate ASC-->
<!--    </select>-->

<!--    <select id="resCompleted" resultMap="ReservationDto">-->
<!--        SELECT * FROM reservation-->
<!--        WHERE-->
<!--            id=#{id} AND status='이용완료' ORDER BY checkindate DESC-->
<!--    </select>-->

<!--    <select id="resCancellation" resultMap="ReservationDto">-->
<!--        SELECT * FROM reservation-->
<!--        WHERE-->
<!--            id=#{id} AND status='예약취소' ORDER BY checkindate DESC-->
<!--    </select>-->

<!--    <delete id="delete">-->
<!--        DELETE FROM reservation WHERE no=#{no}-->
<!--    </delete>-->

<!--    <select id="resDetail" resultMap="ReservationDto">-->
<!--        SELECT * FROM reservation-->
<!--        WHERE-->
<!--            no=#{no}-->
<!--    </select>-->

<!--    <update id="resUpdate">-->
<!--        UPDATE reservation-->
<!--        SET status='예약취소'-->
<!--        WHERE no=#{no}-->
<!--    </update>-->


</mapper>